name: Nix flake check

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  flake-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Install Nix
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v16

      # Enable cache + faster builds
      - name: Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v9

      - name: Flake check
        run: nix flake check --show-trace
